@import 'node_modules/@spatie/scss/settings';
@import 'node_modules/@spatie/scss/styles';

.alert.-for-field {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 !important;
  background: none !important;
}
